header {
  background-color: navy;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
   display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#move a:link{color: white;}
#move a:visited{color: white;}
#move a:active{color: white;}

 #one {
        font-family: cursive;
        transform: rotate(270deg);
        float: right;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        }
 #two {
        font-family: helvetica;
        font-style: italic;
        float: right;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        }
 #three {font-family: helvetica;
        font-style: italic;
        float: top;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        font-family: Avenir;
        text-transform: uppercase;

        }
 #four {text-align: center;
        font-family: georgia, serif;
        
        }
 #five {text-align: center;
        font-family: palatino linotype;
        float: left;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        padding-bottom: 20px;
        }
 #six {text-align: center;
        font-family: times new roman, times, serif;
        font-style: italic;
        }
 #seven {text-align: center;
        font-family: Tahoma;
        
        }
 #eight {text-align: center;
        font-family: Gabriola;
        padding-bottom: 10px;
        }

 p{font-size: 35px;}