header {
  background-color: navy;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
   display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#move a:link{color: white;}
#move a:visited{color: white;}
#move a:active{color: white;}

 #one {text-align: left;
        font-style: oblique;
        text-transform: uppercase;
        color:white;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 5s;
        animation-iteration-count: infinite
        }
 #two {text-align: center;
        font-style: oblique;
        text-transform: uppercase;
        color:white;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 10s;
        animation-iteration-count: infinite;
        }
 #three {text-align: right;
        font-style: oblique;
        text-transform: uppercase;
        color:white;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 5s;
        animation-iteration-count: infinite
        }
 #four {text-align: center;
        font-style: oblique;
        text-transform: uppercase;
        color:white;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 10s;
        animation-iteration-count: infinite;
        }
 #five {text-align: left;
        font-style: oblique;
        text-transform: uppercase;
        color:white;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 5s;
        animation-iteration-count: infinite
        }
 #six {text-align: center;
        font-style: oblique;
        color:white;
        text-transform: uppercase;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 10s;
        animation-iteration-count: infinite;
        }
 #seven {text-align: right;
        font-style: oblique;
        text-transform: uppercase;
        color:white;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 5s;
        animation-iteration-count: infinite
        }
 #eight {text-align: center;
        font-style: oblique;
        padding-bottom: 30px;
        color:white;
        text-transform: uppercase;
        font-size: 50px;
        animation-name: odd;
        animation-duration: 10s;
        animation-delay: 10s;
        animation-iteration-count: infinite;
        }

 

@keyframes odd {
  0%   {color: white;}
  50%  {color: black;}
  100% {color: white;}

