header {
  background-color: navy;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
   display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#move a:link{color: white;}
#move a:visited{color: white;}
#move a:active{color: white;}

 #one {
        font-family: impact;
        font-size: 100px;
        float: left;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        }
 #two {
        
        font-size: 35px;
        
        float: left;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        }
 #three {
        
        float: left;
        font-size: 35px;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        
       

        }
 #four {
        font-size: 35px;
        
        float: left;
        }
 #five {
        
        float: left;
        font-size: 35px;
        padding-right: 500px;
        padding-top: 450px;
        display: inline-block;
        }
 #six {
        
        font-size: 35px;
        padding-right: 500px;
        float: left;
        padding-top: 50px;
        }
 #seven {
        font-size: 35px;
        display: inline-block;
        padding-right: 200px;
        padding-top: 450px;
        float: right;

        }
 #eight {
        
        padding-bottom: 30px;
        padding-right: 100px;
        font-size: 35px;
        float: left;
        padding-top: 300px;
        }

