header {
  background-color: navy;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
   display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#move a:link{color: white;}
#move a:visited{color: white;}
#move a:active{color: white;}

 #one p{border: 1px solid black;}
 #two p{border: 2px solid black;}
 #three p{border: 3px solid black;}
 #four p{border: 4px solid black;}
 #five p{border: 5px solid black;}
 #six p{border: 6px solid black;}
 #seven p{border: 7px solid black;}
 #eight p{border: 8px solid black;}